body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
}
.header-section .container,
.our-ways-section .container,
.team-section .container,
.portfolio-section .container,
.footer-section .container {
  padding-left: 15px;
  padding-right: 15px;
}

.header-section {
  width: 100%;
  background-color: #fff;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.icon {
  display: inline-block;
  /* width: 1em;
  height: 1em; */
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.our-ways-section .icon {
  width: 64px;
  height: 64px;
}
.header-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav-container,
.nav-links-container,
.address-items-container {
  display: flex;
}
.nav-links-container {
  gap: 40px;
}
.nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav-container {
  margin-right: 332px;
  align-items: center;
}
.address-items-container {
  gap: 40px;
}
.address-items-container li {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-studio {
  color: #2e2f42;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  margin-right: 76px;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  position: relative;
}
.active-page {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after,
.nav-link:focus::after,
.active-page::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.contacts-info:hover,
.contacts-info:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-section {
  font-style: normal;
}
.contacts-info {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people_office.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.main-section .container {
  max-width: 496px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  margin-bottom: 48px;
  max-width: 496px;
}
.order-service-button {
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-ways-section {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-ways-section .section-card {
  width: calc((100% - 72px) / 4);
}
.our-ways-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.our-ways-section .section-item-header {
  margin-bottom: 8px;
}

.section-item-header {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.section-item-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.team-section {
  background-color: #f4f4fd;
}

.team-section,
.portfolio-section {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-image-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-section .section-title,
.portfolio-section .section-title {
  margin-bottom: 72px;
}
.team-section .section-item-header,
.team-section .section-item-text {
  text-align: center;
}
.team-card-content {
  padding: 32px 0;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.team-card-content .section-item-header,
.team-card-content .section-item-text {
  margin-bottom: 8px;
}
.links-icon-container {
  display: flex;
  justify-content: center;
}
.team-card-content .links-icon-container {
  gap: 24px;
}
.team-card-content .icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
.team-card-content .link-icon-item {
  width: 40px;
  height: 40px;
}
.icon-wrapper {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-title {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-container {
  position: relative;
  overflow: hidden;
}
.portfolio-list-item .overlay {
  position: absolute;
  transform: translateY(100%);
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover img {
  opacity: 0;
}
.portfolio-list-item:hover .overlay {
  opacity: 1;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-section .section-item-header {
  margin-bottom: 8px;
}
.footer-section {
  background-color: #2e2f42;
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-section .container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-container {
  margin-right: 120px;
}
.social-container {
  margin-right: 80px;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
}
.social-text,
.subscribe-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.social-container .icon-wrapper {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.social-container .icon {
  width: 24px;
  height: 24px;
  margin: 8px;
  fill: #f4f4fd;
}
.icon-wrapper:hover,
.icon-wrapper:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-container .links-icon-container {
  gap: 16px;
}
.social-container .icon-wrapper:hover,
.social-container .icon-wrapper:focus {
  background-color: #31d0aa;
}
.subscribe-email-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe-email-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
}
.subscribe-button {
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button-icon {
  fill: #ffffff;
  margin-left: 16px;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  line-height: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .close-btn-icon,
.modal-close-btn:focus .close-btn-icon {
  fill: #ffffff;
}
.modal-header {
  margin-bottom: 16px;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.feedback-form-field-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  line-height: 1.17;
}
.feedback-form-field-wrapper {
  margin-bottom: 8px;
}
.feedback-form-input-wrapper {
  position: relative;
}

.feedback-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
  font-size: 12px;
  background-color: transparent;
  outline: transparent;
}

.feedback-form-input:focus,
.feedback-form-comment:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.feedback-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form-input:focus + .feedback-form-field-icon {
  fill: #4d5ae5;
}
.feedback-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 1.17;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-form-field {
  margin-bottom: 16px;
}
.feedback-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.feedback-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.feedback-form-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.feedback-form-privacy-link {
  color: #4d5ae5;
  font-size: 12px;
  text-decoration-line: underline;
}
.feedback-form-submit {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.feedback-form-submit:hover,
.feedback-form-submit:focus {
  background-color: #404bbf;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form-own-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.feedback-form-own-checkbox-icon {
  fill: transparent;
}

.feedback-form-checkbox:checked
  + .feedback-form-checkbox-label
  .feedback-form-own-checkbox,
.feedback-form-checkbox:checked
  + .feedback-form-checkbox-label
  .feedback-form-own-checkbox-icon {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
